/*  */

.heading {
  text-align: center;
}

.summary {
  display: flex;
  justify-content: space-between;
}

.currentWeather {
  font-size: 1.5rem;
  font-weight: 600;
}

.icon {
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  height: 50%;
}

img {
  width: 50%;
}

@media only screen and (min-width: 768px) {
  h1 {
    padding-top: 2rem;
  }
  .summary {
    font-size: 2rem;
  }
  .currentWeather {
    font-size: 2.5rem;
  }
  img {
    width: 35%;
  }
}
