.currentDay {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.598);
  border-radius: 1rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading {
  text-align: center;
}

.summary {
  display: flex;
  justify-content: space-between;
}

.icon {
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  height: 50%;
}

img {
  width: 50%;
}
