.wrapper {
  display: flex;
  overflow-y: hidden;
}

.dataContainer {
  margin: 1rem;
  padding: 0.5rem;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeStamp {
  font-size: 1.3rem;
}

.weatherIcon {
  width: 150%;
}

@media only screen and (min-width: 768px) {
  .timeStamp {
    font-size: 2rem;
    font-weight: 600;
  }
}
