.wrapper {
  display: flex;
  overflow-y: scroll;
}

.wrapper::-webkit-scrollbar {
  width: 20px;
}

.wrapper::-webkit-scrollbar-thumb {
  background: #231512ba;
  border: 3px solid transparent;
  border-radius: 8px;
  background-clip: content-box;
}

.wrapper::-webkit-scrollbar-track {
  background: black;
  border-radius: 8px;
}

.dataContainer {
  margin: 1rem;
  padding: 0.5rem;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeStamp {
  font-size: 1.3rem;
}

.weatherIcon {
  width: 150%;
}

@media only screen and (min-width: 768px) {
  .timeStamp {
    font-size: 2rem;
    font-weight: 600;
  }
}
