.dailyForecast {
  margin: 0.5rem;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.598);
  border-radius: 1rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper {
  display: flex;
  overflow-y: hidden;
}

.daysContainer {
  margin: 1.5rem;
  padding-bottom: 0.5rem;
  min-width: 20%;
}
