/*  */

.details {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.weatherContainer {
  padding: 0.5rem;
}

i {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}

.humidity {
  display: flex;
  align-self: flex-start;
  justify-items: center;
}

.humidity-text {
  display: flex;
  align-self: flex-end;
  padding-bottom: 0.2rem;
}

@media only screen and (min-width: 768px) {
  .dataHeading {
    font-size: 1.5rem;
  }
  .details {
    justify-content: space-around;
  }
  .weatherContainer {
    padding: 1rem;
  }
  i {
    font-size: 3rem;
    margin: 0.5rem;
  }

  .humidity-text {
    align-self: center;
    padding: 0;
  }
}
