.App {
  text-align: center;
  padding: 0.5rem;
}

.day {
  background-image: url("../public/img/bg-day.jpg");
  background-size: cover;
}

.night {
  background-image: url("../public/img/bg-night.jpg");
  background-size: cover;
}

form {
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: center;
  padding: 1.5rem 1.75rem;
}

.search input {
  flex: 1;
  border: 2px solid #b9513545;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;

  outline: none;
  color: #ffffffd0;
  background: rgba(0, 0, 0, 0.8);
}

button {
  display: inline-block;
  padding: 0.8rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 5rem;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid #b9513545;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

button:hover {
  background-color: #000000ed;
  font-style: italic;
  font-weight: 600;
}

.container {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dataHeading {
  font-size: 0.8rem;
  display: flex;
  align-items: flex-start;
}

@media only screen and (min-width: 768px) {
  .App {
    font-size: 1.5rem;
  }

  button {
    font-size: 1.2rem;
    width: 6rem;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    padding-top: 0;
    padding-bottom: 2rem;
    padding-left: 2rem;
    max-width: 900px;
  }
}
